{% extends "network/layout.html" %}

{% block body %}
    <!-- new post block/feature -->
    {% if user.is_authenticated %}
        <form id="new-post" method="post" action="{% url 'create-post' %}">
            {% csrf_token %}
            <h1>New Post</h1>
            <textarea placeholder="What's on your mind?" name="content"></textarea>
            <input type="submit" value="Post" />
        </form>
    {% endif %}

    <!-- posts -->
    {% for post in posts %}
        <div data-post-id="{{ post.id }}" class="post">
            <a href="/profile/{{ post.owner }}">
                {{ post.owner }}
                <!-- adds a small 'you' flag to posts that belong to the user -->
                {% if user.username == post.owner %}
                    <span class="you-flag">You</span>
                {% endif %}

            </a>
            <p class="post-text">{{ post.text }}</p>
            <!-- edit post feature -->
            {% if user.username == post.owner %}
                <textarea class="edit-post">{{ post.text }}</textarea>
                <input class="edit-save" type="button" value="Update" onclick="saveEdit(this)" />
                <input type="button" class="edit-button" value="Edit Post" onclick="toggleEdit(this)" />
            {% endif %}
            
            <div class="info">
                <span>{{ post.time_date }}</span>
                <!-- like/unlike button -->
                <button type="submit" class="{% if post.liked %} liked {% endif %}" onclick="likeInteraction(this)" data-post-id="{{ post.id }}">{{ post.likes }}</button>
            </div>
        </div>
    {% endfor %}

    <!-- pagination -->
    {% if paginationRequired %}
        <ul id="pagination">
            {% if previous %}
                <li><a href="?page={{ previousPage }}">Prev</a></li> <!-- previous button -->
            {% endif %}
            {% for page in pages %}
                <li class="{% if page.number == posts.number %} current {% endif %}" ><a href="?page={{ page.number }}">{{ page.number }}</a></li> <!-- individual pages button -->
            {% endfor %}
            {% if next %}
                <li><a href="?page={{ nextPage }}">Next</a></li> <!-- next button -->
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}